:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accents: #2196f3;
  --primary-bg-color: #2f303a;
  --portfolio-cards-gap: 30px;
}

body {
  font-family: Roboto, sans-serif;
}

/*CONTAINER*/
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list .current {
  color: var(--accents);
}

h2,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*======== NAVIGATION ========*/
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-logo span {
  color: var(--accents);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .item {
  display: inline-block;
  padding-top: 33px;
  padding-bottom: 31px;
}

/*======== END NAVIGATION ========*/

/*======== ADDRESS ========*/
.address-nav {
  display: flex;
  margin-left: auto;
}

.address-nav .item:not(:last-child) {
  margin-right: 50px;
}

.address-emailtel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  display: block;
  padding-top: 33px;
  padding-bottom: 31px;
}

/*======== END ADDRESS ========*/

/*======== HERO ========*/
.hero {
  background-color: var(--primary-bg-color);
}

.hero-content {
  margin-bottom: 94px;
  text-align: center;
}

.hero-title {
  display: inline-block;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 136px;
  min-height: 30px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  background: var(--accents);

  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
/*======== END HERO ========*/

/*======== FEATURES ========*/
.feature-card-set {
  display: flex;
  margin-left: calc(-1 * var(--portfolio-cards-gap));
  margin-bottom: 94px;
}

.feature-card-set > .item {
  flex-basis: calc(100% / 3 - var(--portfolio-cards-gap) ;);
  margin-left: var(--portfolio-cards-gap);
}

.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*======== END FEATURES ========*/

/*======== ABOUT ========*/
.about-card-set {
  display: flex;
  margin-left: calc(-1 * var(--portfolio-cards-gap));
  margin-bottom: 94px;
}

.about-card-set .item {
  flex-basis: calc(100% / 3 - var(--portfolio-cards-gap) ;);
  margin-left: var(--portfolio-cards-gap);
}

.title {
  margin-bottom: 50px;
}

.title h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

/*======== END ABOUT ========*/

/*======== TEAM ========*/
.team-card-set {
  display: flex;
  margin-left: calc(-1 * var(--portfolio-cards-gap));
  padding-bottom: 94px;
}

.team-card-set > .item {
  flex-basis: calc(100% / 3 - var(--portfolio-cards-gap) ;);
  margin-left: var(--portfolio-cards-gap);
}

.team-card-content {
  padding: 26px 59px 30px 59px;
  text-align: center;
}

.team-title {
  margin-bottom: 10px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*======== END TEAM ========*/

/*======== FOOTER ADDRESS ========*/
.footer {
  background-color: var(--primary-bg-color);
  height: 252px;
}

.footer-logo {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo span {
  color: var(--accents);
}

.footer-emailtel {
  display: inline-block;
  margin-bottom: 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-map {
  display: inline-block;
  margin-bottom: 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*======== END FOOTER ADDRESS ========*/

/*======== PORTFOLIO BUTTONS ========*/
.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-button-set {
  display: flex;
  margin-bottom: 50px;
  margin-top: 94px;
  justify-content: center;
}

.portfolio-button-set > .item > .link {
  padding: 6px 22px;
  min-width: 38px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  text-align: center;

  border-radius: 4px;
  margin-right: 8px;
}

.portfolio-button-set > .item .link:hover,
.portfolio-button-set > .item .link:hover {
  color: #ffffff;
  background-color: var(--accents);
}

/*======== END PORTFOLIO BUTTONS ========*/

/*======== PORTFOLIO CARDS ========*/

.portfolio-card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--portfolio-cards-gap));
  margin-top: calc(-1 * var(--portfolio-cards-gap));
}

.portfolio-card-set > .item {
  flex-basis: calc(100% / 3 - var(--portfolio-cards-gap));
  margin-left: var(--portfolio-cards-gap);
  margin-top: var(--portfolio-cards-gap);

  outline: 1px solid #eeeeee;
}

.portfolio-card-content {
  padding: 20px 24px;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*======== END PORTFOLIO CARDS ========*/
